
@charset "utf-8";
/* CSS Document */

.menu li {
	list-style-type: none;
	display: inline;
	padding-left: 160px;
	padding-right: 160px;
	background-color: #FFF;
	font:300 16px Oswald;
	font-size:15px;
	color: #000;
	border-radius: 3px;
	-mor-border-radius: 3px;
	-webkit-border-radius: 3px;
	cursor: pointer;
	float: inherit;
}

.menu li a  {
	font:300 16px Oswald;
	font-size: 18px;
	color: #000;
	text-decoration: none;
}

.menu li: hover {
	background-color: #CCC;
}

#submit3 {
	clear:inherit
}
	

	
	
	